// Docs: http://foundation.zurb.com/docs/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

.button, .form-submit {
	background-color: $blue;
	font-size: 1.5em;
	color: $dkGray;
	font-weight: 400;
	border-radius: $global-radius;
	text-transform: capitalize;
	padding-top: $YW_BasePadding;
	padding-bottom: $YW_BasePadding;
	&:hover {
		background-color: darken($blue, 4);
		color: $black;
	}
	
	
}
.button.secondary {
	background: $dkBlue;
	&:hover {
		background: $blue;
	}
}

.breadcrumbs {
	background: #ccc;
	border: none;
}
// reset margin
button {
		margin-bottom: 0px;
	}
	
	.button-group {
.button.secondary {
	
	margin-right: 5px;
}	
}
.button.secondary {
	color: $dkGray;
	&:hover {
		color: $black;
	}
	}