// menu/header/etc

.l-header {
	clear: both;
	form {
			width: 300px;
			float: right;
			padding:10px;
			input[type=text] {
				border:none;
				color: $white;
				float: left;
				width: 70%;
			}
			button {
				border: none;
				//color: $white;
				background: none;
				box-shadow:none;
				float: right;
				width: 25%;
			}
		}
	nav {
	float: right;
		font-family: "Roboto Condensed";
	font-weight: 400;
		
		
		//menu 
		ul {
		//width:100%;
		padding:10px;
		margin: 0px;
			li {
			
			
			//width:100%;
			list-style-type: none;
			float: left;
				a, .nolink {
					padding: 10px;
					display:block;
					width:100%;
					color: $blue;
					
					&:hover {
						cursor: pointer;
						color: $dkBlue;
					}
					
					&.active {
						color: $dkBlue;
						
					}
				}
			}
			
			// submenu
				ul {
					display: none;
					li {
						a {
						font-weight: 400;
						color: $red;
						padding: 5px;
							&.active {
								color: $gold;
							}
						}
						
					}
				}
			
			&:hover {
				ul {
					display: normal;
					}
			}
		
			}
	}
}
