// menu/header/etc

.l-header {
	clear: both;
	form {
			width: 300px;
			float: right;
			padding:10px;
			input[type=text] {
				border:1px solid $red;
				color: $dkGray;
				float: left;
				width: 70%;
			}
			button {
				border: none;
				color: $white;
				background: $red;
				box-shadow:none;
				float: right;
				width: 25%;
				font-size: 12px;
				border-radius: 0px;
				&:hover {
					background: $dkRed;
					color: $white;
				}
			}
		}
		
	nav {
	float: right;
	font-family: "Roboto Condensed";
	font-weight: 400;
	z-index: 10000;	
		
		//menu 
		
		ul {
		    font-family: Arial, Verdana;
		    font-size: 14px;
		    margin: 0;
		    padding: 0;
		    list-style: none;
		}
		ul li {
		    display: block;
		    position: relative;
		    float: left;
		}
		li ul {
		    display: none;
		}
		ul li a {
		    display: block;
		    text-decoration: none;
		    color: $blue;
		    padding: 5px 15px 5px 15px;
		    background: $white;
		    margin-left: 1px;
		    white-space: nowrap;
		}
		ul li a:hover {
		color: #000;
		}
		li:hover ul {
		    display: block;
		    position: absolute;
		    z-index: 10000;	
		}
		li:hover li {
		    float: none;
		    font-size: 11px;
		}
		li:hover a { background: $dkTan; }
		li:hover li a:hover {
		    background: $dkTan;
		}
	}
}
