// Docs: http://foundation.zurb.com/docs/components/type.html
// Before adding styles be sure to modify variables.
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
a {
	color: $blue;
	&:hover {
		color: $YW_Link_Hover;
	}
}
h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;
	font-family: "Roboto";
	font-weight: 500;
}

.robotoDarkest {
	font-family: "Roboto";
	font-weight: 900;
}
.robotoCondensedBold {
	font-family: "Roboto Condensed";
	font-weight: 700;
}
.robotoRegular {
	font-family: "Roboto";
	font-weight: 500;
}
.robotoCondensedRegular {
	font-family: "Roboto Condensed";
	font-weight: 400;
}

.fontRidicLarge {font-size: 78px;}
.fontLarge {font-size: 32px;}
.fontMedium{font-size: 24px;}

h1 {
	text-transform: uppercase;
}

body {
	font-size: 15px;
	font-family: inherit;
  font-weight: normal;
}

a {
	//@extend .robotoCondensedRegular;
}
.smallLabel {
	text-transform: uppercase;
	@extend .robotoCondensedBold;
	font-size: 10px;
	color: dkGray;
	float: right;
	display: block;

}

.title {}
.node-title {}
.page-title {}
.block-title {}

.item-list {}
