// Docs: http://foundation.zurb.com/docs/components/type.html
// Before adding styles be sure to modify variables.
a {
	color: $YW_Aqua;
	&:hover {
		color: $YW_Link_Hover;
	}
}
h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;
}

h1 {
	text-transform: uppercase;
}

.title {}
.node-title {}
.page-title {}
.block-title {}

.item-list {}
