// Poll overrides for anon/logged in users
.poll {
  overflow: hidden;
}
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: $YW_Gold;
}

.poll .voted .bar {
  border: none !important;
}
.poll .bar .foreground {
  background-color: $YW_Aqua;
  height: 1em;
  float: left; /* LTR */
}
.poll .links {
  text-align: center;
}
.poll .percent {
  text-align: right; /* LTR */
}
.poll .total {
  text-align: center;
}
.poll .vote-form {
  text-align: center;
}
.poll .vote-form .choices {
  text-align: left; /* LTR */
  margin: 0 auto;
  display: table;
}
.poll .vote-form .choices .title {
  font-weight: bold;
}
.poll-message {
	margin-bottom: $YW_BasePadding;
}
.node-form #edit-poll-more {
  margin: 0;
}
.node-form #poll-choice-table .form-text {
  display: inline;
  width: auto;
}
.node-form #poll-choice-table td.choice-flag {
  white-space: nowrap;
  width: 4em;
}
td.poll-chtext {
  width: 80%;
}
td.poll-chvotes .form-text {
  width: 85%;
}

.links li {
	text-decoration: none;
	list-style-type: none;
	margin-left:0px;
}

// define icon colors and what not
.Aqua {
	i{
		color:$YW_Aqua;
	}
}
.Red {
	i{
		color:$YW_Red;
	}
}
.Yellow {
	i{
		color:$YW_Gold;
	}
}

.iconWrap {
	display:block;
	float: left;
	font-size: 65px;
	margin-right: $YW_BasePadding;
}