// Non-modular or client styles for asides or sidebars.

.l-sidebar-first {
	h2 {
		font-size: 1.5em;
	}


}

.l-sidebar-second {

.block {
	background: $white;
	padding: 20px;
	margin-bottom: 15px;
}
	ul.menu {
	margin: 0px;
	padding: 0px;
		li {
			list-style-type: none;
			border-bottom: 1px solid #ccc;
			&:last-child {
				border-bottom: none;
			}
			a {
				display: block;
				padding: 10px;
				line-height: 16px;
			}
		}
	}
}

.push-3 {
	@media #{$small} {
		border-left: 2px solid $blue;
		padding-left: $YW_BasePaddingLarge;
	}

}
.large-3.pull-9.l-sidebar-first.columns.sidebar{
	border-top: 2px solid $blue;
	padding-top: $YW_BasePaddingLarge;
		@media #{$small} {
			border-top:none;
			padding-top: 0px;
			width:22%;
			margin-right: $YW_BasePaddingLarge;
		}
}
