// Non-modular or client styles for .l-footer region.

.topFooter {
	background: $red;
	color: $white;
	padding-bottom: $basePadding;
	.curvedPiece {
		background: $dkTan;
		height: 50px;
		border-bottom-left-radius:30%;
		border-bottom-right-radius:30%;
		margin-bottom: $basePadding;
	}

	a {
		color: $white;
	}
	h2 {
		font-size: 17px;
		color: $white;
		@extend .robotoCondensedBold;
	}
	ul {
		padding-left: 0px;
		margin-left: 0px;
		@extend .robotoRegular;
		li {
			list-style-type: none;
			margin-left: 0px;
		}
	}
	.block-menu-menu-stay-in-touch {
		.title {
			display: none;
		}
		ul {
			li {
				display: block;
				float: left;
				margin-right: 10px;
				i {
					font-size: 30px;
				}

			}
		&:after {
		content:'';
		display:block;
		clear: both;
		}
		}
	}

}

.middleFooter {
	background: $dkGray;
	color: $white;
	padding: 0px;

		a {
			color: $white;
			&:hover {
				color: $white;
			}
		}
	.getInTouch {
		padding-top: $basePaddingLarge;
		padding-bottom: $basePaddingLarge;
		background: $blue;
		a {
			margin-top: $basePadding;
			font-size: 16px;
			@extend .robotoRegular;
			&:hover {
				color: $dkGray !important;
			}
		}

	}
	.legal {
		padding-top: $basePadding;
		padding-bottom: $basePadding;
		p {
			margin:0;
			padding: 0;
		}
	}
}

.bottomFooter {
	background: $white;
	padding-top: $basePadding;
	padding-bottom: $basePadding;
	overflow: auto;
	a {
		display:block;
		width: 100%;
		max-width: 300px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		&.MWE {
			background-image: url(../images/mwe_logo.jpg);
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.MJN {
			background-image: url(../images/mjn_logo.png);
			background-size: contain;
			background-repeat: no-repeat;

		}
	}
}

.l-footer {

		p {

		}
		a {

		}
		.copyright {
			font-size: .7em;
			font-style: italic;
		}

}


	.footerInner {

		a {

			&:hover {

			}
		}
	}
