// Non-modular or client styles for .l-footer region.

.topFooter {
	background: $red;
}

.middleFooter {
	background: $dkGray;
}

.bottomFooter {
	background: $white;
	overflow: auto;
	a {
		display:block;
		width: 50%;
		float: left;
		height: 100px;
		text-align: center;
		&.MWE {
			background-image: url(../images/AAWDClogo.png);
			background-size: contain;
			background-repeat: no-repeat;	
		}
		
		&.MJN {
			background-image: url(../images/AAWDClogo.png);
			background-size: contain;
			background-repeat: no-repeat;
			
		}
	}
}

.l-footer {

		p {
	
		}
		a {
			
		}
		.copyright {
			font-size: .7em;
			font-style: italic;
		}	
	
}

	
	.footerInner {

		a {

			&:hover {
				
			}
		}
	}
