// Non-modular or client styles for .l-header region.

.l-header {
	a.logo {
		display: block;
		float: left;
		height:100px;
		width: 300px;
		//background: aqua;
		background-image: url(../images/AAWDClogo.png);
		background-size: contain;
		background-repeat: no-repeat;

	}
}

.imageHero {
	clear: both;
	background-image: url(http://dev-aawdc.pantheon.io/sites/default/files/server.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: $basePaddingHuge;
	padding-bottom: $basePaddingHuge;
	border-top-left-radius:10%;
  border-top-right-radius:10%;
	background-position: center center;

	h1 {
		color: $white;
		@extend .robotoDarkest;
		@extend .fontLarge;
		text-transform: uppercase;
		line-height: 30px;
		@media #{$small} {
			font-size: 78px;
			line-height: 60px;
		}
	}

}

.calloutTryp {
	text-align: center;
	padding-top: $basePadding;
	padding-bottom: $basePadding;
	h3 {
		color: $dkGray;
		@extend .robotoCondensedRegular;
		@extend .fontLarge;
		line-height: 27px;
	}
	span {
		display: block;
		max-width: 200px;
		height: 80px;
		margin-left: auto;
		margin-right: auto;
		&.career {
			background-image: url(../images/step.png);
			background-size: 30%;
			background-repeat: no-repeat;
			background-position: center center;
		}
		&.workforce {
			background-image: url(../images/buildings.png);
			background-size: 30%;
			background-repeat: no-repeat;
			background-position: center center;
		}
		&.involved {
			background-image: url(../images/hand.png);
			background-size: 20%;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}

.calloutHero {
	background: $dkGray;
	color: $white;
	padding-top: $basePaddingLarge;
	padding-bottom: $basePaddingLarge;
		p {
			@extend .robotoCondensedRegular;
			@extend .fontMedium;
			margin: 0;
			padding: 0;
			line-height: 1em;
		}
}

// Top Bar
//--------------------------------------------------

.name {


}
.top-bar {
  .title-area {}
}

.top-bar-section {}
.top-bar-section .left {}
.top-bar-section .right {}
