.off-canvas-wrap {
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
 
.off-canvas-wrap.move-right,
.off-canvas-wrap.move-left {
  height: 100%;
}
 
.inner-wrap {
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 100%;
  *zoom: 1;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -ms-transition: -ms-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
 
.tab-bar {
  -webkit-backface-visibility: hidden;
  background: $YW_Black;
  color: white;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: bold;
    line-height: 2.8125rem;
    margin: 0;
  }
  h1, h2, h3, h4 {
    font-size: 1.125rem;
  }
  .menu-icon {
    text-indent: 2.1875rem;
    width: 2.8125rem;
    height: 2.8125rem;
    display: block;
    line-height: 2.0625rem;
    padding: 0;
    color: white;
    position: relative;
    span {
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      left: 0.8125rem;
      top: 0.3125rem;
      -webkit-box-shadow: 1px 10px 1px 1px white, 1px 16px 1px 1px white, 1px 22px 1px 1px white;
      box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
    }
    &:hover {
      span {
        -webkit-box-shadow: 1px 10px 1px 1px #b3b3b3, 1px 16px 1px 1px #b3b3b3, 1px 22px 1px 1px #b3b3b3;
        box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
      }
    }
  }
}

.tab-bar.tab-bar-secondary {
  background: $YW_Grey;
 .left-small, .right-small {
    border-left:none;
    border-right:none;
    text-align: center;

  }
  }
 
.left-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
  
  left: 0;
  text-align: center;
}
 
.right-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
  
  right: 0;
  text-align: center;
  a {
	  color: $YW_White;
  }
}
 
.tab-bar-section {
  padding: 0 0.625rem;
  position: absolute;
  text-align: center;
  height: 2.8125rem;
  top: 0; }
  @media only screen and (min-width: 40.063em) {
    .tab-bar-section {
      text-align: left; } }
  .tab-bar-section.left {
    left: 0;
    right: 2.8125rem; }
  .tab-bar-section.right {
    left: 2.8125rem;
    right: 0; }
  .tab-bar-section.middle {
    left: 2.8125rem;
    right: 2.8125rem; }
 
.left-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  width: 15.625rem;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  background: $YW_Grey;
  z-index: 1001;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  left: 0;
  * {
    -webkit-backface-visibility: hidden;
  }
}
 
.right-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  width: 15.625rem;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  background: $YW_Grey;
  z-index: 1001;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  right: 0;
  * {
    -webkit-backface-visibility: hidden;
  }
}
 
ul.off-canvas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    label {
      padding: 0.3rem 0.9375rem;
      color: #999999;
      text-transform: uppercase;
      font-weight: bold;
      background: #444444;
      border-top: 1px solid #5e5e5e;
      border-bottom: none;
      margin: 0;
    }
    a {
      display: block;
      padding: 0.66667rem;
      color: rgba(255, 255, 255, 0.7);
      border-bottom: 1px solid #262626;
      transition: background 300ms ease;
      &:hover {
        background: #242424;
      }
    }
  }
}
 
.move-right {
  > .inner-wrap {
  -webkit-transform: translate3d(15.625rem, 0, 0);
  -moz-transform: translate3d(15.625rem, 0, 0);
  -ms-transform: translate3d(15.625rem, 0, 0);
  -o-transform: translate3d(15.625rem, 0, 0);
  transform: translate3d(15.625rem, 0, 0);
  }

}
 
@media only screen and (min-width: 40.063em) {
  .move-right .exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}
 
.move-left {
  > .inner-wrap {
  -webkit-transform: translate3d(-15.625rem, 0, 0);
  -moz-transform: translate3d(-15.625rem, 0, 0);
  -ms-transform: translate3d(-15.625rem, 0, 0);
  -o-transform: translate3d(-15.625rem, 0, 0);
  transform: translate3d(-15.625rem, 0, 0); 
  }
}
 
@media only screen and (min-width: 40.063em) {
  .move-left .exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}
 
.csstransforms.no-csstransforms3d .left-off-canvas-menu {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.csstransforms.no-csstransforms3d .right-off-canvas-menu {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.csstransforms.no-csstransforms3d .move-left > .inner-wrap {
  -webkit-transform: translate(-15.625rem, 0);
  -moz-transform: translate(-15.625rem, 0);
  -ms-transform: translate(-15.625rem, 0);
  -o-transform: translate(-15.625rem, 0);
  transform: translate(-15.625rem, 0);
}
.csstransforms.no-csstransforms3d .move-right > .inner-wrap {
  -webkit-transform: translate(15.625rem, 0);
  -moz-transform: translate(15.625rem, 0);
  -ms-transform: translate(15.625rem, 0);
  -o-transform: translate(15.625rem, 0);
  transform: translate(15.625rem, 0);
}
 
.no-csstransforms .left-off-canvas-menu {
  left: -15.625rem;
}
.no-csstransforms .right-off-canvas-menu {
  right: -15.625rem;
}
.no-csstransforms .move-left > .inner-wrap {
  right: 15.625rem;
}
.no-csstransforms .move-right > .inner-wrap {
  left: 15.625rem;
}