// Style the calendar
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff,
.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview,
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
  background: $gold;
  a {
    color: $black;
  }
}

// Mini Calendar
.view-calendar {

  .calendar-calendar {

    tr td.today {
      background: #b0d6cd;
    }

    th.days, td.days, .mini-day-off, .mini-day-on {
      padding: 4px;
    }

    th.days {
      background: #b0d6cd;
    }

  }
}

.view .date-nav-wrapper {
  .date-nav {
    height: 30px !important;
  }
  .date-heading h3 {
    font-size: 14px !important;
  }

  .date-prev, .date-next {
    padding-right: 0px;
    padding-left: 0px;
      a {
        display: block;
        width: 30px;
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
      }

  }
}
