// Style the calendar

// Mini Calendar
.view {

  .calendar-calendar {

    tr td.today {
      background: #b0d6cd;
    }

    th.days, td.days, .mini-day-off, .mini-day-on {
      padding: 4px;
    }

    th.days {
      background: #b0d6cd;
    }

  }
}

.view .date-nav-wrapper {
  .date-nav {
    height: 30px !important;
  }
  .date-heading h3 {
    font-size: 14px !important;
  }

  .date-prev, .date-next {
    padding-right: 10px;
    padding-left: 10px;
      a {
        display: block;
        //width: 30px;
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
      }

  }
}

.calendar-calendar .week-view div.single-day .view-item .calendar,
.calendar-calendar .day-view div.single-day .view-item .calendar {
margin-left: 0px !important;
width: auto !important;
}
